#root {
  font-family: 'Kanit', sans-serif;
  line-height: 0px;
}

a:hover {
  cursor:pointer;
 }

.fill {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.mainRoute {
  position: absolute;
  width: 100%;
  height:100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainRouteItem {
  text-align: center;
}

.subRoute {
  position: absolute;
  left: 0;
  top: 100%;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  flex: 1;
  font-size: 50px;
  color: white;
  height: 100%;
}

.nav {
  padding: 0px;
  margin: 0px;
  top: 0px;
  height: 40px;
  display: flex;
  background: linear-gradient(to right, tomato 0%, gold 100%);
  z-index: 1;
}

.navItem {
  text-align: center;
  align-self: center;
  flex: 1;
  list-style-type: none;
  padding: 10px;
  
}

.navItemUltra {
  margin-top: 64px;
}














/* Parallax */


.container{
  padding-top:1.5%;
  margin: 0 auto;
  width:100%;
}


/* Nav */

.arrow-forward {
  padding: 1% 1% 0 0;
  float:right;
  opacity: .5;
  
}


.arrow-forward:hover {
  padding: 1% 1% 0 0;
  float:right;
  opacity: 1;  
}

.arrow-back {
  padding-top:2%;
  margin-left:2%;
  opacity: .5;
  float:left; 
}

.arrow-back:hover {
  padding-top:2%;
  margin-left:2%;
  opacity: 1;
  float:left; 
}

.restart {
  padding: 1% 1% 0 0;
  float:right;
  opacity: .5;
  
}

.restart:hover {
  padding: 1% 1% 0 0;
  float:right;
  opacity: 1;
}

/* text foramtting */

.headline {
  float:left; 
  padding-left:10%;
  font-size: .70em;
  color: rgb(38, 32, 75);
  text-transform: uppercase;
  padding-top: 1%;
}

.copy {
  float:left;
  padding-left:10%;
  font-size: .30em;
  color: rgb(62, 59, 83);
  padding-top: 1%;
}

/* Backgrounds */

.layerBackground {
  position: absolute;
  width: 100%;
  background: rgb(255, 255, 255);
  height: 100%;
} 

.red {
  background: rgb(255, 255, 255)
}

.green {
  background: green
}

/* .pink {
  background: linear-gradient(to right, deeppink 0%, coral 100%);
}

.teal {
  background: linear-gradient(to right, SlateBlue 0%, DeepSkyBlue 100%);
}

.tomato {
  background: linear-gradient(to right, tomato 0%, gold 100%);
} */

.slide-one {
  
  background: rgb(255, 255, 255);
}

.slide-two {
  
  background:rgb(253, 253, 253)
 }

 /* slide images and frames */


.frame-one {
  
  padding-top:7%;
  padding-left:10%;
  object-fit: contain;
  width:80%;
  height:80%;
  
  
}

.frame-two {
  object-fit:contain; 
  float:left;
  padding-left:10%;
  padding-top: 7%;
  width:40%;
  height:40%;
}

.frame-three {
  object-fit:contain; 
  float:right;  
  padding-right:9%;
  padding-top: 6%;
  width:40%;
  height:40%;
}

.frame-four {
  object-fit:contain; 
  float:right;  
  padding-right: 9%;
  padding-top: 34%;
  width:40%;
  height:40%;
}

.frame-five {
  object-fit:contain; 
  float:left;  
  padding-left: 9%;
  padding-top: 9%;
  width:26%;
  height:26%;
}

.frame-six {
  object-fit:contain; 
  float:left;  
  padding-left: 38%;
  padding-top: 9%;
  width:26%;
  height:26%;
}

.frame-seven {
  object-fit:contain; 
  float:right;  
  padding-right: 7%;
  padding-top: 9%;
  width:26%;
  height:26%;
}
