#root {
  font-family: 'Kanit', sans-serif;
  line-height: 0px;
}

a:hover {
  cursor:pointer;
 }

.fill {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.mainRoute {
  position: absolute;
  width: 100%;
  height:100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainRouteItem {
  text-align: center;
}

.subRoute {
  position: absolute;
  left: 0;
  top: 100%;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  flex: 1;
  font-size: 50px;
  color: white;
  height: 100%;
}

.nav {
  padding: 0px;
  margin: 0px;
  top: 0px;
  height: 40px;
  display: flex;
  background: linear-gradient(to right, deeppink 0%, coral 100%);
  z-index: 1;
}

.navItem {
  text-align: center;
  align-self: center;
  flex: 1;
  list-style-type: none;
  padding: 10px;
}

.navItemUltra {
  margin-top: 64px;
}


/* Parallax */

.container > div > div {
  display: flex; 
  justify-content: center;
}


/* Nav */

.arrow-forward {
  background-color: rgb(172, 172, 172);
  position: absolute;
  opacity: .5;
  right: 50px;
  top: 20px
}


.arrow-forward:hover {
  background-color: rgb(172, 172, 172);
  position: absolute;
  opacity: 1;
  right: 50px;
  top: 20px
}

.arrow-back {
  background-color: rgb(172, 172, 172);
  position: absolute;
  opacity: .5;
  left: 50px;
  top: 20px 
}

.arrow-back:hover {
  background-color: rgb(172, 172, 172);
  position: absolute;
  opacity: 1;
  left: 50px;
  top: 20px
}

.restart {
  background-color: rgb(172, 172, 172);
  position: absolute;
  right: 50px;
  top: 20px;
  opacity: .5;
  
}

.restart:hover {
  background-color: rgb(172, 172, 172);
  position: absolute;
  right: 50px;
  top: 20px;
  opacity: 1;
}

/* text foramtting */

.text {
  pointer-events: none;
  justify-content: start !important;
  font-family: 'Kanit', sans-serif;  
}

.headline {
  margin-left: 1%;
  font-size: .70em;
  color: rgb(38, 32, 75);
  text-transform: uppercase;
  margin-top: .20%;
}

.copy {
  margin-left: 1%;
  font-size: .30em;
  color: rgb(62, 59, 83);
  margin-top: .25%;
}

/* Backgrounds */

.layerBackground {
  position: absolute;
  width: 140%;
  height: 100%;
} 

.red {
  background: red
}

.green {
  background: green
}

.pink {
  background: linear-gradient(to right, deeppink 0%, coral 100%);
}

.teal {
  background: linear-gradient(to right, SlateBlue 0%, DeepSkyBlue 100%);
}

.tomato {
  background: linear-gradient(to right, tomato 0%, gold 100%);
}

.slide-one {
  background: rgb(255, 255, 255);
}

.slide-two {
  background:rgb(207, 236, 255)
 }

 /* slide images and frames */

 .image-frame {
  
  
}

.frame-one {
  object-fit:contain;
  padding-top: 6%;
  width:80%;
  height:80%;
}

.frame-two {
  object-fit:contain;
  padding-top: 6%;
  width:50%;
  height:50%;
}

.frame-three {
  object-fit:contain;
  padding-top: 6%;
  width:25%;
  height:25%;
}

.frame-four {
  object-fit:contain;
  padding-top: 6%;
  width:80%;
  height:80%;
}

.frame-five {
  object-fit:contain;
  padding-top: 6%;
  width:80%;
  height:80%;
}
