#root {
  font-family: 'Kanit', sans-serif;
  line-height: 0px;
}

a:hover {
  cursor:pointer;
 }

.fill {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.mainRoute {
  position: absolute;
  width: 100%;
  height:100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainRouteItem {
  text-align: center;
}

.subRoute {
  position: absolute;
  left: 0;
  top: 100%;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  flex: 1;
  font-size: 50px;
  color: white;
  height: 100%;
}

.nav {
  padding: 0px;
  margin: 0px;
  top: 0px;
  height: 40px;
  display: flex;
  background: linear-gradient(to right, tomato 0%, gold 100%);
  z-index: 1;
}

.navItem {
  text-align: center;
  align-self: center;
  flex: 1;
  list-style-type: none;
  padding: 10px;
}

.navItemUltra {
  margin-top: 64px;
}


/* Parallax */

.container > div > div {
  display: flex; 
  
}


/* Nav */

.arrow-forward {
  float:right;
  opacity: .5;
  position: absolute;
  right: 3%; 
  top: 3%
}


.arrow-forward:hover {
  float:right;
  opacity: 1;
  position: absolute;
  right: 3%; 
  top: 3%  
  
}

.arrow-back {
  position: absolute;
  opacity: .5;
  float:left;
  left: 3%;
  top: 3% 
}

.arrow-back:hover {
  position: absolute;
  opacity: 1;
  float:left;
  left: 3%;
  top: 3%
}

.restart {
  position: absolute;
  right: 3%; 
  top: 3%;
  opacity: .5;
  
}

.restart:hover {
  position: absolute;
  right: 3%; 
  top: 3%;
  opacity: 1;
}

/* text foramtting */

.text {
  
  pointer-events: none;
  justify-content: start !important;
  font-family: 'Kanit', sans-serif;  
}

.headline {
  float:left;
  padding-left:1%;
  font-size: .70em;
  color: rgb(38, 32, 75);
  text-transform: uppercase;
  margin-top: .20%;
}

.copy {
  float:left;
  padding-left:1%;
  font-size: .30em;
  color: rgb(62, 59, 83);
  margin-top: .25%;
}

/* Backgrounds */

.layerBackground {
  position: absolute;
  width: 100%;
  height: 100%;
} 

.red {
  background: red
}

.green {
  background: green
}

.pink {
  background: linear-gradient(to right, deeppink 0%, coral 100%);
}

.teal {
  background: linear-gradient(to right, SlateBlue 0%, DeepSkyBlue 100%);
}

.tomato {
  background: linear-gradient(to right, tomato 0%, gold 100%);
}

.slide-one {
  
  background: rgb(255, 255, 255);
}

.slide-two {
  
  background:rgb(253, 253, 253)
 }

 /* slide images and frames */

 .image-frame {
 
  
}

.frame-one {
  object-fit: contain;
  width:80%;
  height:80%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.frame-two {
  object-fit:contain; 
  float:left;
  padding-left: 6%;
  padding-top: 12%; 
  width:70%;
  height:70%;
}

.frame-three {
  object-fit:contain;
  position: absolute;
  float: right;
  top: 6%;
  right: 8%;
  width:40%;
  height:40%;
}

.frame-four {
  object-fit:contain; 
  position: absolute;
  
  right: 8%;
  top: 44%;
  width:40%;
  height:40%;
}

.frame-five {
  object-fit:contain;
  position: absolute;
  
  top: 40%;
  left: 70%;
  width:35%;
  height:35%;
}

