.designs-nav {
  width: 100%;
  background-color: rgb(255, 255, 255);
  color: rgba(255, 255, 255, 0.938);
  height: 50px;
  text-align: center;
  padding-top: 20px
}

.projects-nav {
  width: 100%;
  background-color: rgb(14, 143, 14);
  color: rgba(255, 255, 255, 0.945);
  height: 50px;
  text-align: center;
  padding-top: 20px
}

.logo {
  font-size: 2.5em;
  color: rgba(2, 2, 59, 0.678);
  margin-top: 20px;
  padding-left:20px;
}

