@media only screen and (max-width: 700px) {
  .logo {
    font-size: .75em;
    color: rgb(255, 233, 111);
    font-weight:bold;
    letter-spacing:5px;
    padding-left:8px;
    padding-right:8px;
    padding-top: 7px
  
  }

  .logo-box {
    background: linear-gradient(to left, tomato 0%, gold 100%);
   }
  
} 

@media only screen and (min-width: 800px) { 
.logo {
  font-size: 1.65em;
  color: rgb(255, 233, 111);
  font-weight:bold;
  letter-spacing: 10px;
  padding-left:20px;
  padding-right:20px;
 
 
}

.logo-box {
  background: linear-gradient(to left, tomato 0%, gold 100%);
 
 
}

}