/*Phones */ 

@media only screen and (max-width: 700px) {
  .logo {
    font-size: 1em;
    color: rgb(255, 233, 111);
    font-weight:bold;
    padding-left:8px;
    padding-right:8px;
    padding-top: 6px
  
  }
  .logo-box {
    background: linear-gradient(to left, tomato 0%, gold 100%);
   }
   .nav-element {
     font-size: .70em;
   }

   .welcome-icon-projects {
    margin:0 auto;
    display:block;
    padding-top:10%;
    padding-bottom:5%;
   
    opacity:1;
    
    width:40%;
    height:40%
  }
  
  .welcome-icon-projects:hover {
    margin:0 auto;
    display:block;
    padding-top:10%;
    padding-bottom:5%;
   
    opacity:.25;
    
    width: 40%;
    height:40%
  }
  
  .welcome-icon-designs {
    margin:0 auto;
    display:block;
    padding-bottom:5%;
    
    opacity:1;
    
    width: 40%;
    height:40%
  }
  
  .welcome-icon-designs:hover {
    margin:0 auto;
    display:block;
    padding-bottom:5%;

    opacity:.25;
    width: 40%;
    height:40%
  }
  
  
  .welcome-icon-about {
    margin:0 auto;
    display:block;
    
   
    opacity:1;
    width: 40%;
    height:40%
  }
  
  .welcome-icon-about:hover {
    margin:0 auto;

    display:block;
    opacity:.25;
    
    
    width: 40%;
    height:40%
  }
  
  .welcome-container{
   
    width:100%;
    height:100%  
  }  
  
} 

/*Tablets and Desktop  */
@media only screen and (min-width: 701px)  { 
  .logo {
    font-size: 1.65em;
    color: rgb(255, 233, 111);
    font-weight:bold;
    letter-spacing: 5px;
    padding-left:20px;
    padding-right:20px;  
  } */

.logo-box {
    
    background: linear-gradient(to left, tomato 0%, gold 100%);
  }

  .nav-element {
    font-size: 1em;
  }


.welcome-icon-projects {
  float: left;
  margin-left: 14%;
 
  opacity:1;
  padding:2%;
  width: 20%;
  height:20%
}

.welcome-icon-projects:hover {
  float: left;
  margin-left: 14%;
  opacity:.25;
  padding:2%;
  width: 20%;
  height:20%
}

.welcome-icon-designs {
  float: left;
  opacity:1;
  padding:2%;
  width: 20%;
  height:20%
}

.welcome-icon-designs:hover {
  float: left;
  opacity:.25;
  padding:2%;
  width: 20%;
  height:20%
}


.welcome-icon-about {
  float: left;
  opacity:1;
  padding:2%;
  width: 20%;
  height:20%
}

.welcome-icon-about:hover {
  float: left;
  opacity:.25;
  padding:2%;
  width: 20%;
  height:20%
}

.welcome-container{
  width:100%;
  height:60%  
}
}

