.p-container{
  padding-top:1.5%;
  margin: 0 auto;
  width:100%;
  
}


/* Backgrounds */

.layerBackground {
  position: absolute;
  width: 150%;
  height: 100%;
} 
 


/* Phones */

@media only screen and (max-width: 700px) {

  .p-frame-one {
    float:left; 
    padding-top:32%;
    padding-left:13%;
    object-fit: contain;
    width:75%;
    height:75%;
   
    
  }

  .p-container{
   
    padding-top:1.5%;
    margin: 0 auto;
    width:100%;
    
  }

  .p-text-container{
   
    margin: 0 auto;
    width:85%;
    
  }


.p-headline {
  float:left; 
  padding-left:5%;
  font-size: 1em;
  color: rgb(38, 32, 75);
  text-transform: uppercase;
  padding-top: 13%;
}

.p-copy {
  line-height:12px;
  float:left;
  padding-top: 19%;
  padding-left:5%;
  font-size: .85em;
  color: rgb(62, 59, 83);
  
}


.specs-link {
  color:black;
  float:left;
  padding-top:6%;
  padding-left:10%;
}

.specs-link-one {
  color:black;
  float:left;
  padding-top:6%;
  padding-left:38%;
}

.specs-one {
  font-size:1.30em;
  width:100%;
  color:black;
  line-height:14px;
  float:left;
  padding-left:5%;
  padding-top:110%

}

}

/***reg tablets and narrower desktop **/

@media only screen and (min-width: 701px) and (max-width:1599px) {

  .p-frame-one {
    
    float:left; 
    padding-top:8%;
    padding-left:15%;
    object-fit: contain;
    width:35%;
    height:35%;
  
  }

  .p-container{
    padding-top:1.5%;
    margin: 0 auto;
    width:100%;
    
  }

  .p-headline {
    float:left; 
    padding-left:15%;
    font-size: 2em;
    color: rgb(38, 32, 75);
    text-transform: uppercase;
    padding-top: 1%;
  }
  
  .p-copy {
    
    
    float:left;
    padding-top: 5%;
    padding-left:15%;
    font-size: 1em;
    color: rgb(62, 59, 83);
    
  }
  
  
  .specs-link {
    color:black;
    float:left;
    padding-top:40%;
    padding-left:10%;
  }
  
  .specs-link-one {
    color:black;
    float:left;
    padding-top:40%;
    padding-left:15%;
  }
  
  .specs-one {
    font-size:1.5em;
    width:55%;
    color:black;
    line-height:14px;
    float:left;
    padding-left:15%;
    padding-top:40%
  
  }
  
}




/***wide tablets and full screen desktop **/


@media only screen and (min-width: 1600px) {

  .p-frame-one {
    
    float:left; 
    padding-top:6%;
    padding-left:15%;
    object-fit: contain;
    width:40%;
    height:40%;
  
  }

  .p-headline {
    float:left; 
    padding-left:15%;
    font-size: 2em;
    color: rgb(38, 32, 75);
    text-transform: uppercase;
    padding-top: 1%;
  }
  
  .p-copy {
    line-height:12px;
    float:left;
    padding-top: 4%;
    padding-left:15%;
    font-size: 1em;
    color: rgb(62, 59, 83);
    
  }
  
  .specs-link {
    color:black;
    float:left;
    padding-top:42%;
    padding-left:11%;
  }
  
  .specs-link-one {
    color:black;
    float:left;
    padding-top:42%;
    padding-left:15%;
  }
  
  .specs-one {
    font-size:1.5em;
    width:30%;
    color:black;
    line-height:14px;
    float:left;
    padding-left:58%;
    padding-top:7%
  
  }
  
}