.p-container{
  padding-top:1.5%;
  margin: 0 auto;
  width:100%;
  
}


/* Backgrounds */

.layerBackground {
  position: absolute;
  width: 150%;
  height: 100%;
} 
 
.pink {
  background: linear-gradient(to right, deeppink 0%, coral 100%);
}

.teal {
  background: linear-gradient(to right, SlateBlue 0%, DeepSkyBlue 100%);
}

.tomato {
  background: linear-gradient(to right, tomato 0%, gold 100%);
} 

.green {
  background: linear-gradient(to right, rgb(55, 168, 35) 0%, rgb(245, 253, 226) 100%);
}

/* frames */

.p-frame-one {
    
   
  padding-top:5%;
  padding-left:25%;
  object-fit: contain;
  width:50%;
  height:50%;

}

.p-frame-two {
    
  padding-top:5%;
  padding-left:14%;
  object-fit: contain;
  width:25%;
  height:25%;

}

/*copy*/


.p-headline {
  float:left; 
  padding-left:25%;
  font-size: 2em;
  color: rgb(38, 32, 75);
  text-transform: uppercase;
  padding-top: 1%;
}

.p-copy {
  float:left;
  padding-left:25%;
  font-size: 1em;
  color: rgb(62, 59, 83);
  padding-top: 1%;
}

.form {
  padding-left: 20px;
  padding-top: 20px
}

.specs {
  color:black;
  line-height:12px;
  float:left;
  padding-left:25%;
  padding-top:20%

}